<div class="row">

    <div id='pool-status' class="col-xs-12 col-md-12">
        <h2>Offline</h2>

        <div class='alert alert-warning' role='alert'>NuBot not connected to a liquidity pool</div>
    </div>

    <div id='poolstats' class="col-xs-12 col-md-12">
        <div class="col-xs-12 col-md-6">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">User Rewards</h3>
                </div>

                <!-- Table -->
                <table class="table" width="500">
                    <tr data-toggle="tooltip" title="Username registered to the pool">
                        <td class="col-md-2">User ID</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="pooluserid" size="100" type="text" class="form-control"
                                       placeholder="poolUserID"
                                       readonly>
                            </div>
                        </td>
                    </tr>

                    <tr data-toggle="tooltip" title="Reward accomulated in the current round">
                        <td class="col-md-2">Round reward</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">NBT</div>
                                <input id="roundreward" size="100" type="text" class="form-control"
                                       placeholder="roundReward" readonly>
                            </div>
                        </td>
                    </tr>


                    <tr data-toggle="tooltip" title="Time of next payout">
                        <td class="col-md-2">Next payout</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <input id="nextpayoutdate" size="100" type="text" class="form-control"
                                       placeholder="nextPayoutDate" readonly>
                            </div>
                        </td>
                    </tr>

                    <tr data-toggle="tooltip" title="Total payout received for the current userID">
                        <td class="col-md-2">Total payout</td>

                        <td class="col-md-8">
                            <div class="input-group">
                                <div class="input-group-addon">NBT</div>

                                <input id="totalreward" size="100" type="text" class="form-control"
                                       placeholder="totalReward" readonly>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


        </div>

        <div class="col-xs-12 col-md-6">

            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title">Server stats</h3>
                </div>

                <!-- Table -->
                <table class="table" width="500">
                    <tr data-toggle="tooltip" title="Time of last payout">
                        <td class="col-md-2">Last payout date</td>
                        <td class="col-md-8" colspan="3">
                            <div class="input-group">
                                <input id="lastpayoutdate" size="100" type="text" class="form-control"
                                       placeholder="lastPayoutDate" readonly>
                            </div>
                        </td>
                    </tr>

                    <tr data-toggle="tooltip" title="Reward for sell orders, expressed in %">
                        <td class="col-md-2">Ask reward (Rank1)</td>
                        <td class="col-md-4">
                            <div class="input-group">
                                <input id="askpayoutrank1" size="100" type="text" class="form-control"
                                       placeholder="askpayoutrank1" readonly>

                                <div class="input-group-addon">%</div>
                            </div>
                        </td>

                        <td class="col-md-2">Ask reward (Rank2)</td>
                        <td class="col-md-4">
                            <div class="input-group">
                                <input id="askpayoutrank2" size="100" type="text" class="form-control"
                                       placeholder="askpayoutrank2" readonly>

                                <div class="input-group-addon">%</div>
                            </div>
                        </td>
                    </tr>

                    <tr data-toggle="tooltip" title="Reward for buy orders, expressed in %">
                        <td class="col-md-2">Bid reward (Rank1)</td>
                        <td class="col-md-4">
                            <div class="input-group">
                                <input id="bidpayoutrank1" size="100" type="text" class="form-control"
                                       placeholder="bidpayoutrank1" readonly>

                                <div class="input-group-addon">%</div>
                            </div>
                        </td>

                        <td class="col-md-2">Bid reward (Rank2)</td>
                        <td class="col-md-4">
                            <div class="input-group">
                                <input id="bidpayoutrank2" size="100" type="text" class="form-control"
                                       placeholder="bidpayoutrank2" readonly>

                                <div class="input-group-addon">%</div>
                            </div>
                        </td>
                    </tr>


                    <tr data-toggle="tooltip" title="Server uptime">
                        <td class="col-md-2">Server uptime</td>
                        <td class="col-md-8" colspan="3">
                            <div class="input-group">
                                <input id="serveruptime" size="100" type="text" class="form-control"
                                       placeholder="serverUpTime" readonly>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>


        </div>


        <div class="col-xs-12 col-md-12">
            <hr>
            Raw JSON data : <p id='rawjsonpooldata'><a href="#">ServerStatus.json</a> | <a href="#">UserStats.json</a> |
            <a href="#">UserOrders.json</a> | <a href="#">Exchanges.json</a> | </p>
        </div>
    </div>
</div>

</div>
<!-- /container -->

</div>

</div>

<script>
   $( document ).ready(function() {
                startupPage("pool");
    });




</script>
